hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
    color: black;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
        padding: 4em 0 3em 0;
    }

    .rodape__titulo {
        font-size: 24px;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        padding: 0.5em;
    }

    .lista-rodape__link {
        font-size: 14px;
        margin: 1em;
        color: var(--cinza-rodape);
        text-decoration: none;
    }

    .lista-rodape__titulo {
        color: var(--cinza);
        font-size: 14px;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza);
        padding-left: 1.250em;
    }

}